.images-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.images-view vaadin-split-layout {
  width: 100%;
  height: 100%;
}

.images-view vaadin-grid {
  height: 100%;
}

.images-view .input-layout {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.images-view .input {
  flex-grow: 1;
  padding: var(--lumo-space-l);
}

.images-view .input vaadin-checkbox {
  padding-top: var(--lumo-space-m);
}

.images-view .button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  gap: var(--lumo-space-m);
}

.images-view .grid-wrapper {
  width: 100%;
}

.images-view .image-container {
  position: relative;
}

.image-container:after {
  content: "";
  display: block;
  padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.image-container .grid-image-ignore-ratio {
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 80%;
}