.options-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.options-view vaadin-split-layout {
  width: 100%;
  height: 100%;
}

.options-view vaadin-checkbox {
  padding-top: 50px;
}

.options-view vaadin-horizontal-layout {
  padding-top: 50px;
}

.options-view vaadin-vertical-layout {
  padding-top: 50px;
  padding-left: 100px;
}

.options-view vaadin-horizontal-layout label {
  padding-bottom: 25px;
}